{% extends 'base.html.twig' %}

{% block title %}Edition{% endblock %}

{% block body %}
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button class="btn btn-primary">Submit article</button>
  {{ form_end(form) }}
{% endblock %}