<div style="margin-bottom:10px" class="navbar sticky-top navbar-dark bg-info">
  <nav class="d-flex justify-content-start">
    <a class="navbar-brand" href="{{path('admin')}}"><i class="fas fa-cog" style="font-size:25px"></i></a>
    <a class="navbar-brand" href="{{path('reception')}}">Reception</a>
  </nav>
</div>